.header {
    position: relative;

    &__content {
        display: flex;
        grid-row: 1;
        flex: 0 0 auto;
        flex-wrap: nowrap;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;

        max-width: 1180px;
        height: 55px;
        margin: 0 auto;
        padding: 0 1rem;

        color: #161412;

        transition: all 0.3s ease;
    }
}

.fixedHeader {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;

    background-color: transparent;

    transition: background-color 0.3s ease;
}

.solidHeader {
    background-color: #f4f4f2;
}

.burgerIcon {
    display: none;
}

.doxIcon {
    z-index: 4;
    width: 60px;
    height: 92px;
    color: black;
}

.login svg,
.searchIcon,
.burgerIcon svg {
    width: 24px;
    height: 24px;
}

.logo {
    cursor: pointer;

    display: flex;

    width: 30px;
    height: 30px;

    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.03);
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;

    & .navLink {
        position: relative;

        font-family: Jost, sans-serif;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.55rem;
        color: rgb(22 20 18);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        transition:
            color 0.3s ease,
            text-decoration-color 0.3s ease;

        &::after {
            content: '';

            position: absolute;
            bottom: 0;
            left: 50%;

            width: 0;
            height: 1px;

            background-color: #65635f;

            transition:
                width 0.3s ease,
                left 0.3s ease;
        }

        &:hover {
            color: #65635f;

            &::after {
                left: 0;
                width: 100%;
            }
        }

        &:active {
            color: #2e5077;

            &::after {
                background-color: #2e5077;
            }
        }
    }
}

.burgerIcon {
    display: none;
}

@media (width <= 768px) {
    .header__content {
        padding: 0 1.5rem;
    }

    .burgerIcon {
        cursor: pointer;
        display: flex;
    }

    .nav {
        display: flex;
        align-items: center;

        & > *:not(:last-child) {
            display: none;
        }

        & > *:last-child {
            display: flex;
            align-items: center;
        }
    }
}
