.linksHeader {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    width: 9rem; // Must be the same on signin/signup pages
    margin: 0 auto;
}

.signinLoginLink {
    display: block;
    width: 2.5rem; // Must be the same on signin/signup pages
    font-weight: bold;
    color: #4caf50;
}

.signupLoginLink {
    width: 4.5rem; // Must be the same on signin/signup pages
    transition: 0.3s ease all;

    & {
        color: #7fb8f1;
        text-decoration: none;
    }

    &:active {
        color: #8da65a;
        text-decoration: none;
    }

    &:hover {
        color: coral;
    }
}

.linksBorder {
    width: 0.15rem;
    height: 1rem;
    background-color: #333;
}
