.linksHeader {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    width: 9rem; // Must be the same on signin/signup pages
    margin: 6rem auto 0;
}

.signInLoginLink {
    display: block;

    width: 4.5rem; // Must be the same on signin/signup pages

    font-weight: bold;
    color: #024caa;
    text-align: center;
}

.signUpLoginLink {
    position: relative;

    width: 4.5rem; // Must be the same on signin/signup pages

    color: #2973b2;
    text-align: end;
    text-decoration: none;

    transition:
        color 0.3s ease,
        text-decoration-color 0.3s ease;

    &::after {
        content: '';

        position: absolute;
        bottom: -2px;
        left: 50%;

        width: 0;
        height: 2px;

        background-color: #205d91;

        transition:
            width 0.3s ease,
            left 0.3s ease;
    }

    &:hover {
        color: #205d91;

        &::after {
            left: 11px;
            width: 86%;
        }
    }

    &:active {
        color: #2e5077;

        &::after {
            background-color: #2e5077;
        }
    }
}

.linksBorder {
    width: 0.15rem;
    height: 1rem;
    background-color: #333;
}
