VITE_CTP_PROJECT_KEY="Enter your CTP_PROJECT_KEY (without quotes)"
VITE_CTP_CLIENT_ID="Enter your CTP_CLIENT_ID (without quotes)"
VITE_CTP_CLIENT_SECRET="Enter your CTP_CLIENT_SECRET (without quotes)"
VITE_CTP_API_URL="Enter your CTP_API_URL (without quotes)"
VITE_CTP_AUTH_URL="Enter your CTP_AUTH_URL (without quotes)"
VITE_CTP_SCOPES="Enter your CTP_SCOPES (with quotes)"