.noResults {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;

    padding: 2.5rem 0;

    font: normal 400 16px / 24px Jost;
    color: #161412;
    text-align: center;

    @media (width <= 850px) {
        padding: 0 0 2rem;
    }
}

.clearButton {
    cursor: pointer;

    display: flex;
    place-content: center center;

    padding: 0.3rem 1.15rem;
    border: 1px solid #65635f;
    border-radius: 0.25rem;

    font-family: Jost, sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1rem;
    color: #65635f;
    letter-spacing: 0;

    background-color: #fff;
    box-shadow: unset;

    transition: 0.3s all ease-in-out;

    &:hover {
        border-color: #000;
        color: #fff;
        background-color: #000;
    }

    &:disabled {
        border: 1px solid rgb(101 99 95 / 65%);
        background-color: rgb(101 99 95 / 20%);
    }
}
