.footer {
    display: flex;
    grid-row: 3;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 30px 0;

    background-color: #f4f4f2;

    ul {
        display: flex;
        gap: 60px;
        align-items: center;

        margin: 0;
        padding: 0;

        letter-spacing: 0.1em;
        list-style: none;
    }

    a {
        color: black;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #65635f;
        }
    }

    .link {
    }

    .section {
    }
}

.navFooterLink {
    font-family: Jost, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.55rem;
    color: rgb(22 20 18);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    transition: color 0.3s ease;

    &:hover {
        color: #65635f;
    }
}

.topRow {
    font: normal 400 13px / 25px Jost;

    ul {
        @media (width <=490px) {
            flex-direction: column;
            gap: 10px;
        }
    }
}

.bottomRow {
    font: normal 400 10px / 25px Jost;
    text-transform: uppercase;
}
