.articleContent {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    h3 {
        margin: 0;
        font-family: Cormorant, serif;
        font-size: 29px;
        font-weight: 500;
    }

    p {
        margin: 0;

        font-family: Jost, sans-serif;
        font-weight: normal;
        line-height: 1.3rem;
        color: #65635f;
    }

    a {
        width: fit-content;
        font-family: Jost, sans-serif;
        color: #547792;
        transition: color 0.3s ease;

        &:hover {
            color: #a55b4b;
        }
    }
}

.articleImage {
    width: 100%;
    height: 300px;
    object-fit: cover;

    @media (width <= 500px) {
        height: 200px;
    }
}
