.card {
    //cursor: pointer;
    //
    //position: relative;
    //
    //overflow: hidden;
    //
    ////height: 30rem;
    //
    //text-decoration: none;

    &__content {
        //margin-top: 0.625rem;
        //padding: 0 !important;
    }

    &__image {
        //overflow: hidden;
        //display: inline-block;
        //
        //width: 100%;
        //height: 23.125rem;
        //
        //background-position: center;
        //background-size: cover;
        //
        //transition: transform 0.8s ease;
    }

    //&__title,
    //&__text,
    //&__price {
    //    font-family: 'Jost', sans-serif;
    //    font-weight: 400;
    //    text-align: left;
    //    transition: color 0.3s ease-in;
    //}

    //&__title {
    //    margin-bottom: 0.25rem;
    //    text-transform: uppercase;
    //
    //    font-size: 0.81rem;
    //    line-height: 1.56rem;
    //    letter-spacing: 1px;
    //    color: #161412;
    //}

    &__text {
        //margin-bottom: 0.25rem;
        //font-size: 0.875rem;
        //line-height: 1.19rem;
        //color: #65635F;
        //letter-spacing: 1px;
        //
        //display: -webkit-box;
        //-webkit-box-orient: vertical;
        //-webkit-line-clamp: 2;
        //
        //white-space: unset;
        //overflow: hidden;
        //text-overflow: ellipsis;
        //max-width: 40ch;
    }

    &__price {
        //font-size: 1rem;
        //line-height: 1.5rem;
        //color: #161412;
    }

    &:hover {
        & .card__image {
            transform: scale(1.04) translateY(-6px);
        }

        & .card__title {
            color: purple;
        }

        & .card__text {
            color: #161412;
        }

        & .card__price {
            color: green;
        }
    }
}
