//@import 'https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap';
//@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;

    // width: 100%;

    font-family: Jost, sans-serif;

    background-image: url('../../../../assets/images/promotion/promotion-background.png');
    background-position: center;
    background-size: cover;
}

.cardsContainer {
    display: grid;
    grid-template-areas:
        'card1 card1 card1'
        'card2 card3 card4';
    grid-template-columns: repeat(3, minmax(0, 23.875rem));
    gap: 16px;
    justify-content: center;

    width: calc(100% - 40px);
    max-width: 1180px;
    min-height: 200px;
    margin-top: 44px;
}

.card {
    border-radius: 4px;
    font-size: 20px;
    background: rgb(255 255 255 / 3%);
    backdrop-filter: blur(1px);

    .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 250px;
    }

    .row1 {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.discount {
    display: flex;
    flex-direction: column;

    .value {
        font-family: Cormorant, serif;
        font-size: 86px;
        font-weight: 500;
        line-height: 72%;
        color: #e3d28a;
        letter-spacing: -0.03em;
    }

    .title {
        font-size: 12px;
        font-weight: 400;
        line-height: 200%;
        color: #f4f4f2;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 0.08em;
    }
}

.dateEnd {
    font-size: 10px;
    line-height: 250%;
    color: #e3d28a;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.description {
    max-width: 250px;
    font-size: 15px;
    color: #f4f4f2;
    text-align: left;
}

.promocode {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    // width: 100%;
    height: 40px;
    padding: 0 12px;
    border-radius: 4px;

    color: #f4f4f2;

    background: rgb(255 255 255 / 10%);

    transition: 0.25s all ease-in-out;

    &:hover {
        color: #e3d080;
        background: #65635f;
    }
}

.card2,
.card3,
.card4 {
    padding: 32px 64px;
}

.card1 {
    position: relative;

    display: flex;
    grid-area: card1;
    align-items: flex-start;
    justify-content: space-between;

    padding: 0;

    img {
        user-select: none;
        width: 150px;
        height: auto;
        border-radius: 8px;
    }

    .content {
        display: flex;
        flex: 1;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        height: 175px;

        font-size: 24px;
        text-align: center;

        .discount {
            width: 210px;
        }

        .description {
            text-align: center;
        }

        .promocode {
            width: 220px;
            height: 40px;
        }
    }
}

.card2 {
    grid-area: card2;

    .discount {
        width: 128px;
    }
}

.card3 {
    grid-area: card3;

    .discount {
        width: 128px;
    }
}

.card4 {
    grid-area: card4;

    .discount {
        width: 150px;
    }
}

.noticeText {
    width: 80%;
    max-width: 600px;
    margin-bottom: 44px;
    border-radius: 8px;

    font-family: Jost, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 136%;
    color: #65635f;
    text-align: center;
}

@media (width <= 1180px) {
    .wrapper {
        gap: 16px;
    }

    .cardsContainer {
        grid-template-areas:
            'card1 card2'
            'card3 card4';
        grid-template-columns: repeat(2, minmax(0, 23.875rem));
    }

    .card1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px 64px;

        img {
            display: none;
        }

        .content {
            flex-direction: column;
            gap: 24px;
            align-items: flex-start;
            justify-content: center;

            height: auto;

            .discount {
                width: 150px;
                text-align: left;
            }

            .description {
                text-align: left;
            }

            .promocode {
                width: 100%;
            }
        }
    }

    .card2,
    .card3,
    .card4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .noticeText {
        margin-bottom: 24px;
    }
}

@media (width <= 850px) {
    .card1,
    .card2,
    .card3,
    .card4 {
        padding: 20px 36px;
    }
}

@media (width <= 768px) {
    .cardsContainer {
        grid-template-columns: repeat(2, minmax(0, 18.125rem));
    }

    .card,
    .card1 {
        height: 194px;
    }

    .card1 {
        .content {
            justify-content: space-between;
            height: 100%;
        }
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        margin: 0 auto;
        padding: 12px 20px;
    }

    .card4 {
        margin: 0 auto;
    }

    .noticeText {
        margin-bottom: 30px;
        font-size: 12px;
    }

    .promocode {
        max-width: 14rem;
        margin: 0 auto;
        font-size: 16px;
    }

    .content {
        justify-content: space-between;
        height: 100%;

        .discount {
            width: 100px;

            .value {
                font-size: 60px;
            }

            .title {
                font-size: 8px;
            }
        }
    }

    .card1 {
        .content {
            .discount {
                width: 115px;
            }
        }
    }

    .card2 {
        .content {
            .discount {
                width: 90px;
            }
        }
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        .content {
            gap: 18px;
        }
    }

    .dateEnd {
        font-size: 8px;
    }

    .description {
        min-height: 35px;
        font-size: 12px;
    }
}

.tooltipContentWrapper {
    display: inline-block;
    width: 100%;
    max-width: 244px;
}

@media (width <= 640px) {
    .cardsContainer {
        grid-template-areas:
            'card1'
            'card2'
            'card3'
            'card4';
        grid-template-columns: 1fr;
        justify-content: center;

        //grid-template-columns: 18.125rem;
        margin-top: 30px;
    }
}
