.editButton {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    transition:
        color 0.3s ease,
        background-color 0.3s ease,
        border 0.3s ease;

    &:hover {
        color: #fff;
        background-color: #000;
    }

    &:active {
        border-color: #65635f;
        color: #65635f;
        background-color: rgb(224 222 219 / 5%);
    }

    @media (width <= 768px) {
        padding: 0.2rem 0.75rem;
        font-size: 0.6rem;
    }
}
