.burgerMenuOverlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;

    background-color: #f4f4f2;
}

.burgerMenuContent {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    width: 100%;
    max-width: 1180px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

.closeIcon {
    cursor: pointer;
    transition: transform 0.3s ease;

    svg {
        width: 24px;
        height: 24px;
    }
}

.logo {
    cursor: pointer;

    display: flex;

    width: auto;
    height: 1.875rem;

    transition: transform 0.3s ease;
}

.logo:hover,
.closeIcon:hover {
    transform: scale(1.03);
}

.cartBurgerCounter {
    pointer-events: none;

    position: absolute;
    top: -0.5rem;
    right: -0.5rem;

    font-family: Jost, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1rem;
    color: #65635f;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.navLink {
    cursor: pointer;

    position: relative;

    width: fit-content;
    padding: 10px 0;

    font-family: Jost, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    transition: all 0.3s ease;

    &::after {
        content: '';

        position: absolute;
        bottom: 8px;
        left: 50%;

        width: 0;
        height: 1px;

        background-color: #65635f;

        transition: all 0.3s ease;
    }

    &:hover {
        color: #65635f;

        &::after {
            left: 0;
            width: 100%;
        }
    }

    &:active {
        color: #65635f;

        &::after {
            background-color: #65635f;
        }
    }
}

.button {
    cursor: pointer;

    display: flex;
    align-self: center;
    justify-content: center;

    box-sizing: border-box;
    width: 140px;
    padding: 10px 20px;
    border: 1px solid #65635f;
    border-radius: 4px;

    font: normal 400 13px Jost;
    color: #65635f;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    background-color: transparent;

    transition: all 0.3s ease;
}

.button:hover {
    border: 1px solid #161412;
    color: #f4f4f2;
    background-color: #161412;
}

.authButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
