.cartLogoWrapper {
    position: relative;

    //width: 1.5rem;
    //height: 1.5rem;

    .cartLogo {
        cursor: pointer;
        display: flex;
        width: auto;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.03);
        }
    }
}
