@font-face {
    font-family: Jost;
    src: url('../src/assets/fonts/jost/Jost-Regular.ttf');
}

::-webkit-scrollbar {
    width: 0.5rem;
}

html,
body {
    scrollbar-width: thin;

    //scrollbar-gutter: stable;
}

body {
    box-sizing: border-box;
    margin: 0;

    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #a3cff5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Fix for Material-UI focus styles */
button::-moz-focus-inner {
    border: 0;
}

.MuiButtonBase-root::-moz-focus-inner {
    border: 0;
}

/* Remove focus outline for all buttons */
button:focus {
    outline: none;
}

.MuiButtonBase-root:focus {
    outline: none;
}

/* Fix for placeholder styles */
::input-placeholder {
    color: currentcolor;
    opacity: 0.42;
}

::placeholder {
    color: currentcolor;
    opacity: 0.42;
}

:input-placeholder {
    color: currentcolor;
    opacity: 0.42;
}

::placeholder {
    color: currentcolor;
    opacity: 0.42;
}

/* Fix for Material-UI input styles */
.MuiInputBase-input::input-placeholder {
    color: currentcolor;
    opacity: 0.42;
}

.MuiInputBase-input::placeholder {
    color: currentcolor;
    opacity: 0.42;
}

.MuiInputBase-input:input-placeholder {
    color: currentcolor;
    opacity: 0.42;
}

.MuiInputBase-input::placeholder {
    color: currentcolor;
    opacity: 0.42;
}
